@import "tailwindcss";

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-cyan-500/30;
  }

  /* Custom Scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
  }
}